.smk-tool {
    display: flex;
    justify-content: flex-start;
}

.smk-tool i {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    width: 26px;
    height: 26px;
}

.smk-tool:focus {
    outline: 0;
}

.smk-tool.smk-tool-title {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.smk-tool.smk-tool-title span {
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.smk-toggle-button label.smk-command {
    display: flex;
    align-items: center;
}

.smk-toggle-button .smk-toggle {
    font-size: 30px;
    line-height: 18px;
}

.smk-toggle-button.smk-toggle-off .smk-toggle {
    color: red;
}

.smk-toggle-button.smk-toggle-on .smk-toggle {
    color: lightgreen
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.smk-select-option {
    padding: 3px;
}

.smk-options {
    border: 1px solid black;
    border-radius: 8px;
    padding: 1px;
    display: flex;
    justify-content: space-around;
}

.smk-options .smk-command {
    flex-grow: 1;
    text-align: center;
}

.smk-options .smk-selected-option {
    color: white;
    font-weight: bold;
    background-color: black;
}