<div class="smk-address-search">
    <enter-input
        v-bind:placeholder="placeholder"
        v-bind:value="search"
        v-on:change="onChange( $event )"
        v-on:key-down-arrow="onArrowDown"
        v-on:key-up-arrow="onArrowUp"
        v-on:key-enter="onEnter"
    ></enter-input>

    <div class="smk-popup-list" v-if="expanded">
        <div class="smk-popup-item"
            v-for="( item, i ) in list"
            v-bind:class="{ 'smk-active-item': i == selectedIndex }"
            v-on:mouseenter="selectedIndex = i"
            v-on:mouseleave="selectedIndex = null"
            v-on:click="onEnter"
        >{{ item.fullAddress }}</div>
    </div>
</div>