<side-panel class="smk-directions-route-panel" v-bind:class="{ 'smk-busy': busy }">
    <template slot="header">
        <slot></slot>
    </template>

    <template slot="commands">
        <command-button class="smk-print-route"
            v-on:click="$$emit( 'print' )"
        >Print</command-button>
    </template>

    <div class="smk-directions">
        <div class="smk-direction"
            v-for="( direction, i ) in directions"
            v-on:mouseenter="$$emit( 'hover-direction', { highlight: i } )"
            v-on:mouseleave="$$emit( 'hover-direction', { highlight: null } )"
            v-on:click="$$emit( 'pick-direction', { pick: i } )"
            v-bind:class="{ 'smk-highlight': i == directionHighlight, 'smk-pick': i == directionPick }"
        >
            <i class="smk-instruction-type material-icons"
                v-bind:class="[ instructionTypeClass( direction.type ) ]"
                v-bind:title="direction.type"
            >{{ instructionTypeIcon( direction.type ) }}</i>
            <span class="smk-instruction">{{ direction.instruction }}</span>
            <span class="smk-metric"
                v-if="direction.distance"
            >for {{ direction.distance }} ({{ direction.time }})</span>
        </div>
    </div>

</side-panel>