<side-panel class="smk-directions-panel" v-bind:class="{ 'smk-busy': busy }">
    <template slot="header">
        <slot></slot>
    </template>

    <template slot="status" v-if="statusMessage || busy">
        <status-message v-bind="statusMessage" v-if="!busy"></status-message>
        <status-message message="Calculating" status="progress" v-if="busy"></status-message>        
        <busy-spinner v-bind:busy="busy"></busy-spinner> 
    </template>

    <div class="smk-directions">
        <div class="smk-direction"
            v-for="( direction, i ) in directions"
            v-on:mouseenter="$$emit( 'hover-direction', { highlight: i } )"
            v-on:mouseleave="$$emit( 'hover-direction', { highlight: null } )"
            v-on:click="$$emit( 'pick-direction', { pick: i } )"
            v-bind:class="{ 'smk-highlight': i == directionHighlight, 'smk-pick': i == directionPick }"
        >
            <span class="smk-instruction">{{ direction.instruction }}</span>
            <span class="smk-metric"
                v-if="direction.distance"
            >for {{ direction.distance }} ({{ direction.time }})</span>
        </div>
    </div>

</side-panel>