<side-panel class="smk-location-panel">
    <template slot="header">
        <!-- <h1>{{ title }}</h1> -->
    </template>

    <template slot="commands">
        <span class="smk-command" v-if="tool.identify" v-on:click="$$emit( 'identify' )">Identify features</span>
        <span class="smk-command" v-if="tool.measure" v-on:click="$$emit( 'measure' )">Start measurement</span>
        <span class="smk-command" v-if="tool.directions" v-on:click="$$emit( 'directions' )">Directions to here</span>
    </template>    

    <div class="smk-address" v-if="site.fullAddress">
        <div class="smk-street">
            <span class="smk-civic-number">{{ site.civicNumber }}</span>
            <span class="smk-street-name">{{ site.streetName }}</span>
            <span class="smk-street-type">{{ site.streetType }}</span>
        </div>
        <div class="smk-locality">
            <span class="smk-locality-name">{{ site.localityName }}</span>
            <span class="smk-locality-type" v-if="site.localityType != 'Unknown'">({{ site.localityType }})</span>
        </div>
    </div>

    <div class="smk-coordinate">
        <span class="smk-ordinate">
            <label>latitude<div>{{ site.latitude | formatNumber( 4 ) }}</div></label>
        </span>
        <span class="smk-ordinate">
            <label>longitude<div>{{ site.longitude | formatNumber( 4 ) }}</div></label>
        </span>
    </div>

</side-panel>
