.smk-map-frame .smk-command {
    cursor: pointer;
    color: blue;
    padding: 2px;
    border: 1px solid transparent;
    border-radius: 5px;
    /* margin-left: -2px; */
    font-size: 12px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.smk-map-frame .smk-command.smk-icon {
    color: black;
    padding: 0;
    width: 26px;
    height: 26px;
    font-size: 24px;
}

.smk-map-frame .smk-command.smk-disabled {
    color: lightgray;
    font-style: italic;
}

/* .smk-map-frame .smk-command.smk-hidden {
    visibility: hidden;
} */

.smk-map-frame .smk-command.smk-icon.smk-disabled {
    font-style: normal;
}

.smk-map-frame .smk-command:hover {
    border: 1px solid black;
}

.smk-map-frame .smk-command.smk-disabled:hover {
    border: 1px solid transparent;
}

.smk-map-frame select.smk-command {
    background-color: white;
}

.smk-map-frame select.smk-command:focus {
    outline: 0;
}

.smk-map-frame .smk-commands {
    margin-bottom: 1px;
}

.smk-map-frame .smk-active, .smk-tool-active {
    background-color: #d2d9e6;
}

.smk-map-frame .smk-item {
    border-radius: 5px;
    margin-bottom: 1px;
    cursor: default;
}

.smk-map-frame .smk-item:hover {
    background-color: #d2d9e6;
}

.smk-map-frame .smk-item.smk-disabled:hover {
    background-color: transparent;
}

.smk-map-frame .smk-command-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-end;
}

.smk-map-frame .smk-command-row .smk-command-spacer {
    flex-grow: 1;
}