/* style resets */

/* https://gist.github.com/retyui/b71c6cfca2d265c8c3c108fa39c7c88a */

.smk-map-frame select {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 3px 22px 3px 3px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'%3E%3C/path%3E%3C/svg%3E");
    background-position: calc(100% - 3px) 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.smk-map-frame select::-ms-expand {
    display: none;
}
