.smk-map-frame .smk-startup.smk-spinner {
    z-index: 99999;
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
}
