.smk-map-frame {
    --overlay-padding: 7px;
    --panel-width: 300px;
    --panel-bottom: 0;
    --toolbar-height: 30px;
}

@media screen and (orientation: landscape) {
    .smk-map-frame.smk-device-mobile {
        /* --panel-bottom: 200px; */
    }
}

@media screen and (orientation: portrait) {
    .smk-map-frame.smk-device-mobile {
        --panel-bottom: 200px;
    }
}

