.smk-base-maps-panel .smk-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}

.smk-base-map-sample {
    border-radius: 5px;
    margin: 5px;
    padding: 4px;
}

.smk-base-map {
    border-radius: 5px;
    border: 1px solid transparent;
}

.smk-base-map:hover {
    border: 1px solid black;
}


