/* smk-map-frame.css */

.smk-theme-gamma .smk-command {
    display: inline-block;
    color: white;
    font-weight: bold;
    background-color: black;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 13px;
    padding: 2px 5px;
    margin-bottom: 1px;
}

.smk-theme-gamma select.smk-command {
    color: white;
    font-weight: bold;
    background-color: black;
    border: 2px solid white;
    font-size: 13px;
    padding: 2px 5px;
    margin-bottom: 1px;
}

.smk-theme-gamma .smk-command:hover {
    border: 2px solid white;
    outline: 1px solid rgb(126, 126, 126);
}

.smk-theme-gamma .smk-command.smk-disabled {
    color: lightgray;
    background-color: gray;
    font-style: italic;
    cursor: default;
}

.smk-theme-gamma .smk-command.smk-disabled:hover {
    outline: none;
    border: 2px solid white;
}

.smk-theme-gamma .smk-command.smk-icon {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-left: -2px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    color: black;
    padding: 0;
    width: 26px;
    height: 26px;
    font-size: 24px;
    font-weight: normal;
}

.smk-theme-gamma .smk-command.smk-icon:hover {
    border: 1px solid black;
    outline: none;
}

.smk-theme-gamma .smk-command.smk-icon.smk-disabled {
    font-style: normal;
}

.smk-theme-gamma label.smk-command {
    padding: 2px 5px;
}

.smk-theme-gamma label.smk-command input {
    padding: 0;
    margin: 0;
    margin-right: 4px;
}

.smk-theme-gamma label.smk-command input[type=checkbox] {
    height: 13px;
}


/* viewer-leaflet.css */

.smk-theme-gamma .leaflet-popup-content {
    max-width: 500px;
    width: 500px;
    min-width: 250px;
}



/* directions.css */

.smk-theme-gamma .smk-directions-panel .smk-command-col {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.smk-theme-gamma .smk-directions-panel .smk-command-col label {
    padding: 2px 5px;
}

.smk-theme-gamma .smk-directions-panel .smk-command-col label input {
    padding: 0;
    margin: 0;
    margin-right: 4px;
}

.smk-theme-gamma .smk-directions-panel .smk-command-col label input[type=checkbox] {
    height: 13px;
}

.smk-theme-gamma .smk-directions-panel .smk-waypoint {
    margin: 0 -1px;
}

.smk-theme-gamma .smk-directions-panel .smk-waypoint i, .smk-theme-gamma .smk-directions-panel .smk-waypoint div {
    margin: 0 1px;
}


/* panel-feature-list.css */

.smk-theme-gamma .smk-feature-list-panel .smk-layer .smk-feature {
    margin: 0 -1px;
    justify-content: flex-start;
}

.smk-theme-gamma .smk-feature-list-panel .smk-layer .smk-feature span, .smk-theme-gamma .smk-feature-list-panel .smk-layer .smk-feature i {
    margin: 0 1px;
}
