.smk-toolbar  {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    min-width: 300px;

    z-index: 1;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    pointer-events: auto;
    user-select: none;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.smk-toolbar.smk-hidden  {
    display: none;
}

.smk-tool {
    display: none;
    opacity: 0.5;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 0;
    margin: 1px;
    cursor: default;
}

.smk-tool:hover {
    border: 1px solid rgb(126, 126, 126);
}

.smk-tool:focus {
    outline: 0;
    background-color: white;
}

.smk-tool.smk-tool-visible {
    display: inline-block;
}

.smk-tool.smk-tool-enabled {
    opacity: 1.0;
}

