<side-panel class="smk-query-panel">
    <!-- v-bind="featureListProps()" -->
    <template slot="header">
        <!-- <h1 v-if="title">{{ title }}</h1> -->
        <div class="smk-description">{{ description }}</div>
    </template>

    <template slot="status" v-if="statusMessage">
        <status-message v-bind="statusMessage"></status-message>        
        <busy-spinner v-bind:busy="busy"></busy-spinner> 
    </template>

    <div class="smk-parameters">
        <component class="smk-parameter"
            v-for="( parameter, i ) in parameters"
            v-bind:key="parameter.id"
            v-bind:is="parameter.component"
            v-bind="parameter.prop"
            v-on:input="$$emit( 'parameter-input', { index: i, value: $event.value } )"
            v-on:mounted="$$emit( 'parameter-mounted', { index: i } )"
            v-on:pickDown="$emit( 'pickDown' )"
            v-on:pickUp="$emit( 'pickUp' )"
            v-on:execute="$$emit( 'execute' )"
        ></component>
    </div>


    <template slot="commands">
        <div class="smk-command-row">
            <span class="smk-command"
                v-bind:class="{ 'smk-disabled': busy }"
                v-on:click="!busy && $$emit( 'execute' )"
            >Search</span>

            <span class="smk-command"
                v-bind:class="{ 'smk-disabled': !isModified || busy}"
                v-on:click="isModified && !busy && $$emit( 'reset' )"
            >Reset</span>

            <div class="smk-command-spacer"></div>

            <label class="smk-command smk-larger"
                v-bind:class="{ 'smk-disabled': busy }"
                v-if="within != null"
            ><input type="checkbox"
                v-bind:disabled="busy"
                v-model="within"
                v-on:change="$$emit( 'config', getConfigState() )"
            >Within current extent</label><br/>
        </div>
    </template>

</side-panel>