<feature-list-panel class="smk-query-panel"
    v-bind="featureListProps()"
>
    <template slot="header">
        <h1 v-if="title">{{ title }}</h1>
        <div class="smk-description">{{ description }}</div>
    </template>

    <template slot="commands">
        <div class="smk-parameters">
            <component class="smk-parameter"
                v-for="( parameter, i ) in parameters"
                v-bind:key="parameter.id"
                v-bind:is="parameter.component"
                v-bind="parameter.prop"
                v-on:input="$$emit( 'parameter-input', { index: i, value: $event.value } )"
                v-on:mounted="$$emit( 'parameter-mounted', { index: i } )"
                v-on:pickDown="$emit( 'pickDown' )"
                v-on:pickUp="$emit( 'pickUp' )"
                v-on:execute="$$emit( 'execute' )"
            ></component>
        </div>
    </template>

    <template slot="command-row" slot-scope="list">
        <div class="smk-command-row">
            <span class="smk-command"
                v-bind:class="{ 'smk-disabled': !isReady || busy }"
                v-on:click="isReady && !busy && $$emit( 'execute' )"
            >Search</span>

            <span class="smk-command"
                v-bind:class="{ 'smk-disabled': list.featureCount == 0 && !isModified || busy}"
                v-on:click="( list.featureCount > 0 || isModified ) && !busy && $$emit( 'reset' )"
            >Reset</span>

            <span class="smk-command"
                v-bind:class="{ 'smk-disabled': busy }"
                v-if="list.featureCount > 1"
                v-on:click="!busy && $$emit( 'add-all' )"
            >Add all to selection</span>
        </div>

        <div class="smk-command-row">
            <label class="smk-command smk-larger"
                v-bind:class="{ 'smk-disabled': busy }"
                v-if="within != null"
            ><input type="checkbox"
                v-bind:disabled="busy"
                v-model="within"
                v-on:change="$$emit( 'config', getConfigState() )"
            >Within current extent</label><br/>
        </div>
    </template>

</feature-list-panel>