.smk-sidepanel .smk-query-panel .smk-description {
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.smk-sidepanel .smk-query-panel .smk-parameters {
    /* margin: 10px 0; */
}

.smk-query-panel .smk-commands {
    order: 1;
}

.smk-query-panel .smk-commands .smk-search {
    order: 60
}

.smk-query-panel .smk-commands .smk-within-extent {
    order: 70
}

.smk-sidepanel .smk-query-panel .smk-parameter .smk-parameter-reset {
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    right: -8px;
    bottom: 4px;
} 
