.smk-sidepanel .smk-query-panel .smk-description {
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.smk-sidepanel .smk-query-panel .smk-parameters {
    margin: 10px 0;
}

.smk-sidepanel .smk-query-panel .smk-parameter {
    margin-top: 10px;
}

.smk-sidepanel .smk-query-panel .smk-parameter label {
    font-size: 12px;
    display: block;
    width: calc( 100% - 10px );
}

.smk-sidepanel .smk-query-panel .smk-parameter input, 
.smk-sidepanel .smk-query-panel .smk-parameter select, 
.smk-sidepanel .smk-query-panel .smk-parameter span {
    display: block;
    width: 100%;
    border: 0;
    font-size: 16px;
    padding: 3px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

.smk-sidepanel .smk-query-panel .smk-parameter input:focus, 
.smk-sidepanel .smk-query-panel .smk-parameter select:focus, 
.smk-sidepanel .smk-query-panel .smk-parameter span:focus {
    outline: 0;
    border-bottom: 1px dashed gray;
}
