<feature-list-panel class="smk-identify-panel"
    v-bind="$props"
    canClear="true"
    showSwipe="true"
>
    <template slot="header">
        <slot></slot>
    </template>

    <template slot="commands">
        <div class="smk-separator" v-if="command.clear !== false"></div>

        <span class="smk-command"
            v-bind:class="{ 'smk-disabled': busy }"
            v-if="tool.select && list.featureCount > 1 && command.select !== false"
            v-on:click="$$emit( 'add-all' )"
        >Add all to selection</span>
    </template>

    <div v-if="layers.length == 0">
        Click on the map to identify features under the clicked point.
    </div>

</feature-list-panel>