<tool-panel class="smk-identify-panel"
    v-bind="$$projectProps( 'tool-panel' )"
>
    <template slot="header">
        <slot></slot>
    </template>

    <template slot="commands">
        <command-button class="smk-select"
            v-bind:disabled="busy"
            v-if="tool.select && list.featureCount > 1 && command.select !== false"
            v-on:click="$$emit( 'add-all' )"
        >Add all to selection</command-button>
    </template>

    <feature-list
        v-bind:layers="layers"
        v-bind:highlightId="highlightId"
    ></feature-list>

    <div v-if="layers.length == 0">
        Click on the map to identify features under the clicked point.
    </div>

</tool-panel>