<section class="trp-about">
    <p>
        The Truck Route Planner (TRP) is intended to be an interactive, easy to understand trip-planning application for goods movement in Metro Vancouver. 
        It improves on existing regional way-finding and trip planning tools, which was identified as an implementation priority in the
        <a href="https://www.translink.ca/Plans-and-Projects/Roads-Bridges-and-Goods-Movement-Projects/Goods-Movement-Initiatives" target="_blank">Regional Goods Movement Strategy (RGMS)</a>.
    </p>
    <p>
        TransLink also provides a 
        <a href="https://www.translink.ca/site-info/document-library-result.aspx?id=%7B3C0F2B05-04B2-48B4-9A37-354313489AC8%7D&ref=%7BA0E62BB9-F8F2-4CFA-84FB-53DCC0C1A698%7D" target="_blank">Truck Route Reference Guide and Map (2.6 MB)</a>, 
        which pulls together basic information about the region’s truck route network.         
        The TRP builds on this static map in the form of a web-based map application with multiple layers, such as truck parking facilities, card locks, and height clearances. 
        It is intended to augment, rather than replace existing regional and municipal maps and trip planning tools.
    </p>
    <p>
        A key feature of the TRP is a route query function which generates potential routes that comply with municipal truck route bylaws. 
        This feature allows users to plan bylaw-compliant routes throughout the region quickly and easily. 
        Users simply enter vehicle dimensions, a starting point, and destination to generate a potential route that factors in information such as height and weight restrictions.
    </p>
    <p>
        The TRP was developed in partnership between TransLink and the Province with input from municipalities and industry.
    </p>
    <p>
        <em>
            This application is intended to be used as a pre-trip planner. 
            Do not operate a vehicle while using this application.
        </em>
    </p>
    <img src="images/no_mobile_icon.svg" alt="Graphic warning to discourage using mobile devices" style="max-width: 12rem; align-self: center;">
    <div class="version">Version {{ package.version }}, built {{ package[ 'build-date' ] }}</div>    
</section>


