<section class="trp-contacts">
    <h1>Municipalities</h1>

    <h2>Anmore, Village of</h2>
    <address>
        <a href="tel:+16044699877">(604) 469-9877</a>
        <a href="mailto:village.hall@anmore.com">village.hall@anmore.com</a>
    </address>
    <p>
        <em class="warning">No designated truck routes</em>
    </p>

    <h2>Belcarra, Village of</h2>
    <address>
        <a href="tel:+16049374100">(604) 937-4100</a>
        <a href="mailto:lfloyd@belcarra.ca">lfloyd@belcarra.ca</a>
    </address>
    <p>
        <em class="warning">No designated truck routes</em>
    </p>

    <h2>Bowen Island Municipality</h2>
    <address>
        <a href="tel:+16049474255">(604) 947-4255</a>
        <a href="mailto:bim@bimbc.ca">bim@bimbc.ca</a>
    </address>
    <p>
        <em class="warning">No designated truck routes</em>
    </p>

    <h2>Burnaby, City of</h2>
    <address>
        <a href="tel:+16042947440">(604) 294-7440</a>
        <a href="mailto:Traffic@burnaby.ca">Traffic@burnaby.ca</a>
        <a href="https://www.burnaby.ca/City-Services/Roads---Traffic/Truck-Routes.html" target="_blank">burnaby.ca</a>
    </address>

    <h2>Coquitlam, City of</h2>
    <address>
        <a href="tel:+16049276265">(604) 927-6265</a>
        <a href="mailto:trafficoperation@coquitlam.ca">trafficoperation@coquitlam.ca</a>
        <a href="https://www.coquitlam.ca/docs/default-source/coquitlam-forms/Oversize_Overweight_Permit_Application_Form.pdf?sfvrsn=0x" target="_blank">coquitlam.ca</a>
    </address>

    <h2>Delta, Corporation of</h2>
    <address>
        <a href="tel:+16049463260">(604) 946-3260</a>
        <a href="mailto:">engineering@delta.ca</a>
    </address>

    <h2>Langley, City of</h2>
    <address>
        <a href="tel:+16045142997">(604) 514-2997</a>
        <a href="mailto:engineering@langley.ca">engineering@langley.ca</a>
        <a href="https://city.langley.bc.ca/sites/default/files/uploads/AppForms/HIGHWAY_USE_PERMIT_-_OVERSIZE_OVERWEIGHT_VEHICLE.pdf" target="_blank">city.langley.bc.ca</a>
    </address>

    <h2>Langley, Township of</h2>
    <address>
        <a href="tel:+16045336006">(604) 533-6006</a>
        <a href="mailto:enginfo@tol.ca">enginfo@tol.ca</a>
        <a href="https://webfiles.tol.ca/Engineering/Eng%20Permits/Highway%20Use%20Permit%20-%20Oversize%20Overweight%20Vehicle%20Form.pdf" target="_blank">webfiles.tol.ca</a>
    </address>

    <h2>Lions Bay, Village of</h2>
    <address>
        <a href="tel:+16049219333">(604) 921-9333</a>
        <a href="mailto:bylaw@lionsbay.ca">bylaw@lionsbay.ca</a>
    </address>
    <p>
        <em class="warning">No designated truck routes</em>
    </p>

    <h2>Maple Ridge, City of</h2>
    <address>
        <a href="tel:+16044677339">(604) 467-7339</a>
        <a href="mailto:engineering@mapleridge.ca">engineering@mapleridge.ca</a>
    </address>

    <h2>New Westminster, City of</h2>
    <address>
        <a href="tel:+16045274592">(604) 527-4592</a>
        <a href="mailto:engpost@newwestcity.ca">engpost@newwestcity.ca</a>
        <a href="https://www.newwestcity.ca/database/files/library/Oversized_Truck_Permit_Application.pdf" target="_blank">newwestcity.ca</a>
    </address>

    <h2>North Vancouver, City of</h2>
    <address>
        <a href="tel:+16049837333">(604) 983-7333</a>
        <a href="mailto:eng@cnv.org">eng@cnv.org</a>
        <a href="https://www.cnv.org/-/media/city-of-north-vancouver/documents/streets-and-transportation/oversized-vehicle-permit.ashx?la=en" target="_blank">cnv.org</a>
    </address>

    <h2>North Vancouver, District of</h2>
    <address>
        <a href="tel:+16049902450">(604) 990-2450</a>
        <a href="mailto:eng@dnv.org">eng@dnv.org</a>
    </address>

    <h2>Pitt Meadows, City of</h2>
    <address>
        <a href="tel:+16044652428">(604) 465-2428</a>
        <a href="mailto:info@pittmeadows.ca">info@pittmeadows.ca</a>
    </address>

    <h2>Port Moody, City of</h2>
    <address>
        <a href="tel:+16044694618">(604) 469-4618</a>
        <a href="mailto:hup@portmoody.ca">hup@portmoody.ca</a>
        <a href="http://www.portmoody.ca/modules/showdocument.aspx?documentid=833" target="_blank">portmoody.ca</a>
    </address>

    <h2>Richmond, City of</h2>
    <address>
        <a href="tel:+16042764388">(604) 276-4388</a>
        <a href="mailto:transportation@richmond.ca">transportation@richmond.ca</a>
        <a href="https://www.richmond.ca/__shared/assets/ud_09_4011460.pdf" target="_blank">richmond.ca</a>
    </address>

    <h2>Surrey, City of</h2>
    <address>
        <a href="tel:+16045914853">(604) 591-4853</a>
        <a href="mailto:transportation@surrey.ca">transportation@surrey.ca</a>
        <a href="https://www.surrey.ca/city-services/20215.aspx" target="_blank">surrey.ca</a>
    </address>

    <h2>University Endowment Lands/UBC Area</h2>
    <address>
        <a href="tel:+16048228288">(604) 822-8288</a>
        <a href="mailto:operations@whiterockcity.ca">operations@whiterockcity.ca</a>
    </address>

    <h2>Vancouver, City of</h2>
    <address>
        <a href="tel:+16048716730">(604) 871-6730</a>
        <a href="mailto:engineering.clientservices@vancouver.ca">engineering.clientservices@vancouver.ca</a>
        <a href="https://vancouver.ca/streets-transportation/oversize-truck-permits.aspx" target="_blank">vancouver.ca</a>
    </address>

    <h2>West Vancouver, District of</h2>
    <address>
        <a href="tel:+16049257020">(604) 925-7020</a>
        <a href="mailto:info@westvancouver.ca">info@westvancouver.ca</a>
    </address>

    <h2>White Rock, City of</h2>
    <address>
        <a href="tel:+16045412181">(604) 541-2181</a>
        <a href="mailto:operations@whiterockcity.ca">operations@whiterockcity.ca</a>
    </address>

    <h1>Ministry of Transportation &amp; Infrastructure</h1>

    <h2>Commercial Vehicle Safety &amp; Enforcement (CVSE)</h2>
    <!-- <h5>General Inquiries</h5> -->
    <address>
        <a href="tel:+12509520577">(250) 952-0577</a>
        <a href="mailto:cvsegeneralinquiry@gov.bc.ca">cvsegeneralinquiry@gov.bc.ca</a>
        <a href="https://www2.gov.bc.ca/gov/content/transportation/vehicle-safety-enforcement/services/permitting/extraordinary-loads" target="_blank">CVSE Home Page</a>
    </address>

    <h2>Individual Program Offices</h2>
    <address>
        <a href="https://www2.gov.bc.ca/gov/content/transportation/vehicle-safety-enforcement/information-education/contacts" target="_blank">Contact Information</a>
    </address>

    <h2>Provincial Permit Centre</h2>
    <address>
        <a href="tel:+18005599688">1-800-559-9688</a>
        <a href="mailto:ppcpermit@gov.bc.ca">ppcpermit@gov.bc.ca</a>
        <a href="https://onroutebc.gov.bc.ca/" target="_blank">onroutebc.gov.bc.ca</a>
    </address>

    <h1>Useful Links</h1>
    <ul>
        <li>
            <a href="http://www.cvse.ca/national_safety_code.htm" target="_blank">National Safety Code</a>
        </li>
        <li>
            <a href="https://www2.gov.bc.ca/gov/content/transportation/vehicle-safety-enforcement/services/permitting" target="_blank">Transportation Permitting</a>
        </li>
        <li>
            <a href="https://www2.gov.bc.ca/gov/content/transportation/vehicle-safety-enforcement/information-education/commercial-transport-procedures" target="_blank">Commercial Transport Procedures</a>
        </li>
        <li>
            <a href="http://www.cvse.ca/whatsnew.html" target="_blank">Bulletins, Compliance Circulars, Forms and Notices</a>
        </li>
        <li>
            <a href="https://www2.gov.bc.ca/gov/content/transportation/vehicle-safety-enforcement/services/permitting/extraordinary-loads" target="_blank">Extraordinary Loads</a>
        </li>
        <li>
            <a href="http://www.cvse.ca/vehicle_inspections.htm" target="_blank">Vehicle Inspection &amp; Standards</a>
        </li>
    </ul>
</section>