<form method="dialog">
    <header>
        <h1><span class="translink-logo"></span>Truck Route Planner</h1>
    </header>

    <section>
        <p>
            This website (the Truck Route Planner (TRP)) and all of the information it contains are provided "as is" without warranty of any kind, whether express or implied.
            All implied warranties, including, without limitation, implied warranties of merchantability, fitness for a particular purpose, and non-infringement, are hereby expressly disclaimed.
        </p>
        <p>
            Links and references to any other websites are provided for information only and listing shall not be taken as endorsement of any kind.
            TransLink or any of its partners or stakeholders (including, without limitation, the Province of BC) are not responsible for the content or reliability of the linked websites and do not endorse the content, products, services or views expressed within them.
        </p>
        <p>    
            Under no circumstances will TransLink or any of its partners or stakeholders (including, without limitation, the Province of BC) be liable to any person or business entity for any direct, indirect, special, incidental, consequential, or other damage based on any use of this website or any other website to which this site is linked, including, without limitation, any lost profits, business interruption, or loss of programs or information, even if TransLink or any of its partners or stakeholders (including, without limitation, the Province of BC) have been specifically advised.
        </p>
        <p>
            TransLink and the Province of BC, in their sole discretion, may at any time without notice revise the content and features of this website and the terms and conditions of its use, or terminate this website at any time, for any reason, without any notice and without any liability to any person or business entity.
        </p>
        <img src="images/no_mobile_icon.svg" class="warningImage" alt="Graphic warning to discourage using mobile devices">
        <p>
            <em>This website is intended to be used as a pre-trip planner. Do not operate a vehicle while using this website.</em>
        </p>
        <p>
            By proceeding, you are accepting this disclaimer, and you are indicating you understand the limitations of this website.
        </p>
    </section>

    <menu>
        <button type="submit" class="acceptButton">I accept the disclaimer and understand the limitations of this website</button>
    </menu>
</form>
