section.trp-glossary dl {
    margin-top: 0;
    margin-bottom: 0;
}

section.trp-glossary dt {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

section.trp-glossary dd {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 5px;
}
