<section class="trp-glossary">
    <dl>
        <dt>Potential Route (Blue Line)</dt>
        <dd>
            A route that based on factors such as the origin and destination, intermediate waypoints, and the default or user-entered vehicle parameters, may comply with municipal truck route bylaws. 
            This route is put forward for the driver and/or carrier’s consideration for pre-trip planning purposes without warranty of any kind, whether express or implied. 
            The driver and/or carrier is responsible for ensuring the default vehicle parameters or user-entered vehicle parameters are an accurate representation of the actual vehicle, for verifying all clearances and restrictions on the route, and for ensuring the vehicle is operated in compliance with all applicable municipal bylaws and provincial and federal regulations.
        </dd>
        
        <dt>Unverified Route (Dotted Red Line)</dt>
        <dd>
            A route, or a portion of a route, that may not comply with municipal truck route bylaws and may not be suitable for a vehicle with the default or user-entered vehicle parameters. 
            The driver and/or carrier is responsible for ensuring the default vehicle parameters or user-entered vehicle parameters are an accurate representation of the actual vehicle, for verifying all clearances and restrictions on the route, and for ensuring the vehicle is operated in compliance with all applicable municipal bylaws and provincial and federal regulations.                        
        </dd>

        <dt>Heavy Truck</dt>
        <dd>
            A motor vehicle with a licensed gross vehicle weight (LGVW) greater than 11,794 kg (26,000 lb).
        </dd>
    </dl>
</section>