.smk-overlay .smk-shortcut-menu {
    pointer-events: auto;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.smk-overlay .smk-shortcut-menu .smk-tool {
    background-color: white;
    border-radius: 26px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 2px;
    height: 26px;
    margin-left: 5px;
    text-align: center;
}
