<div class="smk-folder">
    <template
        v-for="item in items"
        v-if="item.inFilter"
    >
        <div class="smk-item"
            v-bind:class="{ 
                'smk-visible': item.isVisible,
                'smk-expanded': item.isExpanded, 
                'smk-disabled': !item.isEnabled,
                'smk-obscured': !item.isActuallyVisible
            }"
        >
            <i class="smk-folder-expand material-icons smk-command smk-icon"
                v-if="item.isExpanded != null"
                v-bind:title="'Expand ' + item.title"
                v-on:click="$$emit( 'set-folder-expanded', { id: item.id, expanded: !item.isExpanded } )"
            >{{ item.isExpanded ? 'arrow_drop_down' : 'arrow_right' }}</i>

            <i class="smk-visibility material-icons smk-command smk-icon"
                v-bind:title="'Toggle visibility of \'' + item.title + '\'' + ( item.type == 'folder' ? '\nSHIFT-click to toggle visibility on internal layers.' : '' ) "
                v-on:click="$$emit( 'set-item-visible', { id: item.id, visible: !item.isVisible, deep: $event.shiftKey } )"
            >{{ item.isVisible ? 'visibility' : 'visibility_off' }}</i>

            <span class="smk-title"
                v-bind:title="'ID: ' + ( item.id )"
            >{{ item.title }}</span>
        </div>

        <div class="smk-legend" 
            v-if="item.showLegend && item.legends && item.isActuallyVisible"
        >
            <span v-if="item.showLegend == 'waiting'">Requesting</span>

            <div v-for="legend in item.legends">
                <img v-bind:src="legend.url">
                <span>{{ legend.title }}</span>
            </div>
        </div>

        <layer-display
            v-if="item.isExpanded"
            v-bind:items="item.items"
            v-bind:id="id"
        ></layer-display>
    </template>
</div>
