<div v-bind:class="[
    'smk-display',
    'smk-display-' + display.type,
    display.class,
    {
        'smk-visible':   display.isVisible,
        'smk-expanded':  display.isExpanded,
        'smk-disabled': !display.isEnabled,
        'smk-obscured': !display.isActuallyVisible,
        'smk-metadata': !!display.metadataUrl
    }
]">
    <div class="smk-item"
        v-if="display.id != 'root' && display.showItem"
        v-bind:title="'id: ' + display.id"
        v-on:click="$$emit( display.type + '-click', display )"
    >
        <i class="smk-folder-expand material-icons smk-command smk-icon"
            v-if="display.type == 'folder' && !inGroup"
            v-bind:title="'Expand ' + display.title"
        >{{ display.isExpanded ? 'arrow_drop_down' : 'arrow_right' }}</i>

        <i class="smk-visibility material-icons smk-command smk-icon"
            v-if="!inGroup"
            v-bind:title="'Toggle visibility of \'' + display.title + '\'' + ( display.type == 'folder' ? '\nSHIFT-click to toggle visibility on internal layers.' : '' ) "
            v-on:click.stop="!display.isInternal && $$emit( 'set-item-visible', { id: display.id, visible: !display.isVisible, deep: $event.shiftKey } )"
            v-bind:class="{ 'smk-disabled': display.isInternal }"
        >{{ display.isVisible && display.isEnabled ? glyph.visible : glyph.hidden }}</i>

        <span class="smk-layer-title"
            v-if="!inGroup"
        >{{ display.title }}</span>

        <div class="smk-legend"
            v-if="display.legends && ( display.showLegend && display.isActuallyVisible || display.alwaysShowLegend )"
        >
            <div class="smk-legend-item"
                v-for="legend in display.legends"
                v-if="!legend.hasConditionalStyling"
            >
                <span v-if="legend.indent" class="smk-legend-item-indent"></span>
                <img v-bind:src="legend.url" v-bind:style="{ width: legend.width + 'px', height: legend.height + 'px' }">
                <span class="smk-legend-title">{{ legend.title }}</span>
            </div>
        </div>

        <i class="material-icons smk-metadata"
            v-if="display.metadataUrl && ( !inGroup || ( display.legends && ( display.showLegend && display.isActuallyVisible || display.alwaysShowLegend ) ) )"
            v-bind:title="'Link to metadata for \'' + display.title + '\' layer'"
        >open_in_new</i>
    </div>

    <layer-display
        v-for="item in display.items"
        v-if="item.inFilter && display.isExpanded"
        v-bind:key="item.id"
        v-bind:id="id"
        v-bind:display="item"
        v-bind:glyph="glyph"
        v-bind:inGroup="inGroup || display.type == 'group'"
    ></layer-display>
</div>
