<side-panel class="smk-layers-panel" 
    v-bind:busy="busy"
    v-bind:message="busy ? 'Loading data' : ( !items || items.length == 0 ) ? 'No layers are configured' : ''"
    v-bind:status="busy ? 'progress' : ( !items || items.length == 0 ) ? 'warning' : ''"
    showSwipe="true"
    v-on:swipe-up="$$emit('swipe-up')"
    v-on:swipe-down="$$emit('swipe-down')"    
>
    <template slot="commands">
        <slot></slot>

        <div class="smk-separator"></div>

        <i class="smk-all-visibility material-icons smk-command smk-icon"
            v-if="command.allVisibility !== false"
            v-bind:title="'Toggle visibility of all layers.\nSHIFT-click to toggle visibility on each layer.'"
            v-on:click="$$emit( 'set-all-layers-visible', { visible: !allVisible, deep: $event.shiftKey } )"
        >{{ allVisible ? glyph.visible || 'visibility' : glyph.hidden || 'visibility_off' }}</i>

        <input class="smk-filter" placeholder="Filter layers" 
            v-if="command.filter !== false"
            v-model="filter" 
            v-on:input="$$emit( 'config', getConfigState() )"
        >

        <label class="smk-legend-toggle smk-command"
        ><input type="checkbox"
            v-if="command.legend !== false"
            v-model="legend"
            v-on:change="!busy && $$emit( 'config', getConfigState() )"
        >Legend</label>

    </template>
    
    <layer-display 
        v-bind:items="items"
        v-bind:glyph="glyph"
        id="layers"
    ></layer-display>
</side-panel>