.smk-layers-panel .smk-commands .smk-all-visibility {
    order: 60
}

.smk-layers-panel .smk-commands .smk-filter {
    flex-grow: 1;
    order: 70
}

.smk-layers-panel .smk-commands .smk-legend-toggle {
    order: 80
}

.smk-layers-panel .smk-all-visibility {
    padding: 0;
}

.smk-layers-panel .smk-all-visibility.smk-some-visible {
    opacity: .5;
}

.smk-layers-panel .smk-item {
    font-size: 14px;
}

.smk-layers-panel .smk-display .smk-display {
    padding-left: 12px;
}

.smk-layers-panel .smk-display-group .smk-display {
    padding-left: 0;
}

.smk-layers-panel .smk-display .smk-item {
    display: flex;
    align-items: center;
    position: relative;
}

.smk-layers-panel .smk-display .smk-item .smk-folder-expand {
    position: absolute;
    left: -20px;
}

.smk-layers-panel .smk-display .smk-item .smk-layer-title {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.smk-layers-panel .smk-display .smk-item .smk-metadata {
    display: none;
    font-size: 18px;
    cursor: pointer;
}

.smk-layers-panel .smk-display .smk-item:hover .smk-metadata {
    display: block;
}

.smk-layers-panel .smk-display.smk-obscured .smk-layer-title {
    font-style: italic;
    color: gray;
}

.smk-layers-panel .smk-display.smk-disabled .smk-layer-title {
    font-style: italic;
    color: gray;
    text-decoration: line-through;
    text-decoration-color: red;
}

.smk-layers-panel .smk-display.smk-disabled .smk-visibility {
    opacity: 0.5;
}

.smk-layers-panel .smk-display.smk-disabled .smk-visibility:hover {
    border: 1px solid transparent;
}

.smk-layers-panel .smk-legend {
    padding-left: 12px;
    flex-grow: 0;
}

.smk-layers-panel .smk-legend .smk-legend-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.smk-layers-panel .smk-legend .smk-legend-item img {
    margin: 2px;
}

.smk-layers-panel .smk-legend .smk-legend-title {
    font-size: 11px;
}

.smk-layers-panel .smk-legend .smk-legend-item .smk-legend-item-indent {
    width: 10px;
}

.smk-layers-panel .smk-display .smk-folder-expand:hover {
    border: 1px solid transparent;
}

.smk-layers-panel .smk-display.smk-inline-legend .smk-visibility {
    order: 0;
}

.smk-layers-panel .smk-display.smk-inline-legend .smk-legend {
    order: 1;
    padding-left: 0;
    flex-grow: 0;
}

.smk-layers-panel .smk-display.smk-inline-legend .smk-layer-title {
    order: 2;
}

.smk-layers-panel .smk-display.smk-inline-legend .smk-metadata {
    order: 3;
}

.smk-layers-panel .smk-display.smk-inline-legend .smk-legend-title {
    display: none;
}
