<div>
    <div class="smk-header" v-if="showHeader">
        <h3>{{ layer.title }}</h3>
        <h2>{{ feature.title }}</h2>
    </div>

    <div class="smk-layer">{{ layer.title }}</div>

    <div class="smk-attributes"
        v-if="attributes && attributes.length > 0"
    >
        <div class="smk-attribute"
            v-for="attr in attributes"
        >
            <span class="smk-attribute-title" v-html="insertWordBreaks( attr.title )"></span>
            <span class="smk-value" v-html="formatAttribute( attr )"></span>
        </div>
    </div>
</div>