<side-panel class="smk-feature-panel">
    <template slot="commands">
        <slot></slot>

        <span class="smk-navigator" v-if="resultCount > 1 && command.navigator !== false">
            <i class="material-icons smk-move smk-command smk-icon"
                v-on:click="$$emit( 'move-previous', { instance: instance } )"
            >navigate_before</i>

            <span class="smk-position">{{ resultPosition + 1 }}</span>
            of
            <span class="smk-position">{{ resultCount }}</span>

            <i class="material-icons smk-move smk-command smk-icon"
                v-on:click="$$emit( 'move-next', { instance: instance } )"
            >navigate_next</i>
        </span>

        <div class="smk-separator"></div>

        <span class="smk-command smk-zoom"
            v-if="tool.zoom && command.zoom !== false"
            v-on:click="$$emit( 'zoom', { instance: instance } )"
        >Zoom to</span>

        <span class="smk-command smk-select"
            v-if="tool.select && command.select !== false"
            v-on:click="$$emit( 'select', { instance: instance } )"
        >Add to selection</span>

        <select class="smk-command smk-attribute-mode" 
            v-if="layer && command.attributeMode !== false"
            v-model="attributeView"
        >
            <option value="default">Default View</option>        
            <option v-bind:value="'feature-template-' + layer.id"
                v-if="attributeComponent == 'feature-template-' + layer.id"
            >Template View</option>        
            <option value="feature-description"
                v-if="attributeComponent == 'feature-description'"
            >Description View</option>        
            <option value="feature-attributes">Attributes View</option>        
            <option value="feature-properties">Properties View</option>        
        </select>

    </template>

    <component class="smk-feature"
        v-if="layer"
        v-bind:key="layer.id"
        v-bind:is="attributeView == 'default' ? attributeComponent : attributeView"
        v-bind="{
            layer:   layer,
            feature: feature,
        }"
    ></component>
</side-panel>