<side-panel class="smk-feature-list-panel" v-bind:class="{ 'smk-busy': busy }">
    <template slot="header">
        <spinner v-bind:busy="busy"></spinner> 

        <slot name="header"></slot>
    </template>

    <template slot="commands">
        <slot name="commands" v-bind:featureCount="featureCount"></slot>

        <div class="smk-command-row">
            <span class="smk-command" v-if="canClear"
                v-bind:class="{ 'smk-disabled': featureCount == 0 }"
                v-on:click="$$emit( 'clear' )"
            >Clear</span>

            <slot name="command-row" v-bind:featureCount="featureCount"></slot>
        </div>
    </template>

    <template slot="status" v-if="statusMessage">
        <status-message v-bind="statusMessage">
    </template>

    <div class="smk-layer"
        v-for="layer in layers"
        v-if="layer && layer.features.length > 0"
        v-on:mouseenter="$$emit( 'hover', { features: layer.features } )"
        v-on:mouseleave="$$emit( 'hover', { features: null } )"
    >
        <h2>{{ layer.title }}<span class="smk-count" v-if="layer.features.length > 1">({{ layer.features.length }})</span></h2>
        <div class="smk-feature smk-item" title="Click to see attributes"
            v-for="feature in layer.features"
            v-bind:class="{ 'smk-highlighted': feature.id == highlightId }"
            v-on:click="$$emit( 'active', { featureId: feature.id } )"
        >
            <span >{{ feature.title }}</span>

            <i class="smk-highlight material-icons smk-command smk-icon"
            >speaker_notes</i>

            <i class="smk-remove material-icons smk-command smk-icon"
                v-if="canRemove"
                v-on:click.stop="$$emit( 'remove', { layerId: layer.id, featureId: feature.id } )"
            >delete</i>
        </div>
        <!-- <a class="smk-layer-metadata" target="_metadata"
            v-if="layer.metadataUrl"
            v-bind:href="layer.metadataUrl"
        >Layer information</a> -->
    </div>
</side-panel>