<side-panel class="smk-feature-panel">
    <template slot="commands">
            <!-- v-if="tool.attributeView" -->
        <div class="smk-command-row">
            <select class="smk-command" 
                v-if="layer"
                v-model="attributeView"
            >
                <option value="default">Default View</option>        
                <option v-bind:value="'feature-template-' + layer.id">Template View</option>        
                <option value="feature-description">Description View</option>        
                <option value="feature-attributes">Attributes View</option>        
                <option value="feature-properties">Properties View</option>        
            </select>

            <span class="smk-navigator"
                v-bind:class="{ 'smk-hidden': resultCount < 2 }" 
            >
                <i class="material-icons smk-move smk-command smk-icon"
                    v-on:click="$$emit( 'move-previous' )"
                >navigate_before</i>

                <span class="smk-position"
                >{{ resultPosition + 1 }} of {{ resultCount }}</span>

                <i class="material-icons smk-move smk-command smk-icon"
                    v-on:click="$$emit( 'move-next' )"
                >navigate_next</i>
            </span>
        </div>

        <div class="smk-command-row">
            <span class="smk-command"
                v-if="tool.zoom"
                v-on:click="$$emit( 'zoom' )"
            >Zoom to</span>

            <span class="smk-command"
                v-if="tool.select"
                v-on:click="$$emit( 'select' )"
            >Add to selection</span>

            <span class="smk-command"
                v-if="tool.directions"
                v-on:click="$$emit( 'directions' )"
            >Directions to here</span>
        </div>

    </template>

    <component class="smk-feature"
        v-if="layer"
        v-bind:key="layer.id"
        v-bind:is="attributeView == 'default' ? attributeComponent : attributeView"
        v-bind="{
            layer:   layer,
            feature: feature,
        }"
    ></component>
</side-panel>