.smk-feature-popup .smk-feature {
    position: relative;
}

.smk-feature-popup .smk-header {
    padding-left: 10px;
    padding-bottom: 5px;
}

.smk-feature-popup .smk-header h2 {
    padding-bottom: 5px;
    font-size: 18px;
    margin-left: -10px;
    display: inline;
}

.smk-feature-popup .smk-header h3 {
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    margin-left: -10px;
}

.smk-header + .smk-attributes {
    border-top: 1px solid gray;
}

.smk-feature-popup .smk-attributes, .smk-feature-popup .smk-description {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.smk-feature-popup .smk-attribute:nth-child( 2n ) {
    background-color: #ddd;
}

.smk-feature-popup .smk-attribute:nth-child( 2n + 1 ) {
    padding-top: 2px;
    padding-bottom: 2px;
}

.smk-feature-popup .smk-attribute .smk-title {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    font-size: 11px;
    padding-left: 5px;
}

.smk-feature-popup .smk-attribute .smk-value {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    padding-left: 10px;
}

.smk-feature-popup .smk-commands {
    border-top: 1px solid gray;
    padding-top: 5px;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-end;
}

.smk-feature-popup .smk-command {
    margin-right: 10px;
}

.smk-feature-popup .smk-navigator {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    margin-top: -4px;
    margin-right: -6px;
}

.smk-feature-popup .smk-navigator.smk-hidden {
    visibility: hidden;
}

.smk-feature-popup .smk-navigator .smk-position {
    white-space: nowrap;
    display: inline-block;
    font-weight: bold;
    margin: 0 2px;
}

.smk-feature-popup .smk-navigator .smk-move {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

