<div class="smk-feature-popup" v-if="layer">
    <component class="smk-feature"
        v-bind:key="layer.id"
        v-bind:is="attributeView == 'default' ? attributeComponent : attributeView"
        v-bind="{
            layer:   layer,
            feature: feature,
        }"
    ></component>

    <div class="smk-commands">
        <span class="smk-command"
            v-if="tool.zoom"
            v-on:click="zoomToFeature( layer.id, feature.id )"
        >Zoom to</span>

        <span class="smk-command"
            v-if="tool.select"
            v-on:click="selectFeature( layer.id, feature.id )"
        >Add to selection</span>

        <span class="smk-command"
            v-if="tool.directions"
            v-on:click="startDirections()"
        >Directions to here</span>

        <select class="smk-command"
            v-if="tool.attributeView"
            v-model="attributeView"
        >
            <option value="default">Default View</option>        
            <option v-bind:value="'feature-template-' + layer.id">Template View</option>        
            <option value="feature-description">Description View</option>        
            <option value="feature-attributes">Attributes View</option>        
            <option value="feature-properties">Properties View</option>        
        </select>

        <span class="smk-navigator"
            v-bind:class="{ 'smk-hidden': !hasMultiple }"
        >
            <i class="material-icons smk-move smk-command smk-icon"
                v-on:click="movePrevious()"
            >navigate_before</i>

            <span class="smk-position"
            >{{ position }}</span>

            <i class="material-icons smk-move smk-command smk-icon"
                v-on:click="moveNext()"
            >navigate_next</i>
        </span>
    </div>
</div>