.smk-command-button {
    display: flex;
    justify-content: center;
}

.smk-command-button .smk-command {    
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 2px 6px;
    border: 2px solid #bbb;
    border-radius: 8px;
    font-size: 12px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.smk-command-button.smk-icon .smk-command {
    color: black;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0;
    width: 26px;
    height: 26px;
    font-size: 24px;
}

.smk-command-button .smk-command:hover {
    border: 2px solid black;
    background-color: #ddd;
}

.smk-command-button.smk-disabled .smk-command {
    cursor: default;
    color: #bbb;
    font-style: italic;
}

.smk-command-button.smk-disabled .smk-command:hover {
    border: 2px solid transparent;
    background-color: white;
}

.smk-command-button.smk-disabled.smk-icon .smk-command{
    font-style: normal;
}

.smk-command-button.smk-disabled.smk-icon .smk-command:hover {
    background-color: transparent;
}
