body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    font-family: Helvetica,Arial,sans-serif;
}

header {
    flex-shrink: 0;
    border-bottom: 2px solid #fcba19;
    background-color: #036;

    background-image: url( 'bc-gov-logo-transparent.png' );
    background-position: 10px -5px;
    background-repeat: no-repeat;

    padding-left: 185px;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

article {
    flex-grow: 1;
    position: relative;
}

footer {
    flex-shrink: 0;
    border-top: 2px solid #fcba19;
    background-color: #036;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

#smk-map-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}
