/* variables.css */

.smk-theme-wf.smk-map-frame {
    --overlay-padding: 0px;
    --toolbar-height: 45px;
}

/* map-frame.css */

.smk-theme-wf.smk-map-frame.smk-sidepanel-active .smk-viewer {
    bottom: 50%;
}

/* toolbar.css */

.smk-theme-wf .smk-toolbar  {
    box-shadow: none;
    bottom: 0;
    top: initial;
    right: 0;
    justify-content: space-around;
    border-top: 1px solid black;
}

.smk-theme-wf .smk-tool {
    background-color: white;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.smk-theme-wf .smk-toolbar .smk-tool.smk-tool-active, .smk-theme-wf .smk-toolbar .smk-tool.smk-tool-active button {
    background-color: #003366;
    color: white;
}

.smk-theme-wf .smk-toolbar .smk-tool.smk-tool-title button {
    flex-direction: column;
}

.smk-theme-wf .smk-toolbar .smk-tool.smk-tool-title span {
    display: block;
    font-size: 10px;
    margin: 0;
}

/* sidepanel.css */

.smk-theme-wf .smk-sidepanel {
    top: initial;
    width: initial;
    height: 50%;
    right: 0;
    bottom: var( --toolbar-height );
    border-bottom: 1px solid black;
}

.smk-theme-wf .smk-sidepanel.smk-expanded {
    display: flex;
    width: initial;
}

.smk-theme-wf .smk-elastic-panel {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    box-shadow: none;
}

.smk-theme-wf .smk-sidepanel .smk-panel .smk-header {
    z-index: 1;
}

.smk-theme-wf .smk-sidepanel .smk-panel .smk-body {
    z-index: 2;
    padding: 5px;
}

.smk-theme-wf .smk-sidepanel .smk-message.smk-summary {
    display: none;
}

.smk-theme-wf .smk-sidepanel .smk-message.smk-progress {
    display: none;
}

.smk-theme-wf .smk-sidepanel .smk-message.smk-warning {
    display: none;
}

/* menu.css */

.smk-theme-wf .smk-sidepanel .smk-panel.smk-menu-panel {
    border: 0;
    background-color: transparent;   
}

.smk-theme-wf .smk-sidepanel .smk-panel.smk-menu-panel > .smk-header {
    background-color: transparent;
    box-shadow: none;
}

.smk-theme-wf .smk-sidepanel .smk-panel.smk-menu-panel > .smk-body {
    background-color: transparent;
    box-shadow: none;
    padding-top: 1px;
    padding-bottom: 2px;
}
