.smk-map-frame .smk-cluster-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smk-map-frame .smk-cluster-icon img {
    z-index: 1;
}

.smk-map-frame .smk-cluster-icon span {
    background-color: white;
    border-radius: 10px;
    padding: 1px 4px;
    text-align: center;
    font-size: 10px;
    margin-top: -6px;
}

.smk-map-frame .smk-query-panel .smk-parameters .smk-parameter {
    margin-bottom: 10px;
}
