<side-panel class="smk-menu-panel">
    <template slot="header">
        <component class="smk-tool"
            v-for="tool in subWidgets"
            v-bind:key="tool.id"
            v-bind:is="tool.widgetComponent"
            v-bind="tool.widget"
        ></component>
    </template>

    <component class="smk-panel"
        v-if="activeToolId && subPanels[ activeToolId ]"
        v-bind:is="subPanels[ activeToolId ].panelComponent"
        v-bind="subPanels[ activeToolId ].panel"
    ></component>

</side-panel>