<side-panel class="smk-menu-panel"
    v-bind:showSwipe="true"
    v-on:swipe-up="$$emit('swipe-up')"
    v-on:swipe-down="$$emit('swipe-down')"    
>

    <template slot="header">
        <div class="smk-menu-title">
            <slot></slot>
        </div>

        <div class="smk-menu-widgets">
            <component class="smk-tool"
                v-for="w in subWidgets"
                v-bind:key="'w' + w.id"
                v-bind:is="w.widgetComponent"
                v-bind="w.widget"
                v-bind:active="isActivePanel( w.id )"
            ></component>
        </div>
    </template>

    <component class="smk-panel"
        v-for="p in subPanels"
        v-if="p.panel.active"
        v-bind:key="'p' + p.id"
        v-bind:is="p.panelComponent"
        v-bind="p.panel"
    ></component>

</side-panel>