<!DOCTYPE html>
<html>
    <head>
        <title>INIT Constructor</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>

    <body>
        <div id="app">
            <header>
                <h1>INIT Constructor</h1>
                <ul>
                    <li v-for="ex in examples"
                        v-bind:key="ex.id"
                        v-on:click="selectExample(ex)"
                        v-bind:class="{ 'selected': selectedExample && selectedExample.id == ex.id }"
                    >{{ ex.title }}</li>
                </ul>
            </header>

            <article>
                <section id="source">
                    <h1 v-if="selectedExample">{{ selectedExample.url }}</h1>
                    <pre v-if="selectedExample">{{ selectedExample.doc }}</pre>
                </section>

                <section id="demo">
                    <iframe 
                        v-if="selectedExample" 
                        v-bind:src="selectedExample.url"
                    ></iframe>
                </section>
            </article>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue( {
            el: '#app',
            data: {
                selectedExample: null,
                examples: []
            },
            methods: {
                selectExample: function ( example ) {
                    var self = this

                    this.selectedExample = example
                    document.location.hash = example.id 
                    this.selectedExampleSource = null
                }
            }
        } )

        add( 'minimal' )
        add( 'all-parameters' )
        add( 'error-handler' )

        function add ( exampleId ) {
            var ex = {
                id: exampleId,
                url: 'examples/' + exampleId + '.html',
                title: null,
                doc: null,
                description: null,
            }

            fetch( ex.url )
                .then( function ( resp ) {
                    return resp.text()
                } )
                .then( function ( out ) {
                    ex.doc = out

                    var m = out.match( /title[>](.+)[<][/]title/ )
                    if ( m ) ex.title = m[ 1 ]
                } )

            vm.examples.push( ex )
        }

        vm.examples.forEach( function ( ex ) { 
            if ( ( '#' + ex.id ) == document.location.hash )
                vm.selectExample( ex )
        } )
    </script>   
</html>

