<tool-panel class="smk-geomark-panel"
    v-bind="$$projectProps( 'tool-panel' )"
>
    <template slot="header">
        <slot></slot>
    </template>

    <h1>Geomark</h1>

    <p>Create a Geomark by drawing an area on the map.</p>    
    
    <p>Geomarks can also be loaded by geomark URL.</p>
    
    <p>*Note: A valid geomark must include a portion of British Columbia.</p>

    <ul>
        <li><a href="#" v-on:click="$$emit( 'create-geomark-from-drawing' )">Save Drawing as Geomark</a></li>
        <li><a href="#" v-on:click="$$emit( 'clear-drawing' )">Clear Current Drawing</a></li>
        <li><a href="#" v-on:click="$$emit( 'load-geomark' )">Load an Existing Geomark</a></li>
        <li><a href="#" v-on:click="$$emit( 'create-geomark-from-file' )">Create a Geomark from File</a></li>
    </ul>

    <div v-if="geomarks.length != 0" id="geomarks-container">
        <h2>Loaded Geomarks</h2>
        <ul class="smk-no-list-style">
            <li class="smk-truncate-with-ellipsis" v-for="geomark in geomarks">
                <input type="checkbox" checked v-bind:id="geomark.id" v-on:click="$$emit( 'toggle-geomark', { id: geomark.id } )">
                <a v-bind:href="geomark.url" target="_blank">{{ geomark.id}}</a>
            </li>
        </ul>
    </div>

    <alert v-if="showAlert === true" @close="$$emit( 'close-alert' )">
        <div slot="alertBody" v-html="alertBody"></div>
    </alert>

    <prompt 
        v-if="showPrompt === true" 
        v-model="promptReply" 
        @cancel="$$emit( 'cancel-prompt' )" 
        @close="$$emit( 'close-prompt', $event )">
        <div slot="promptBody" v-html="promptBody"></div>
    </prompt>
</tool-panel>
