<tool-panel class="smk-geomark-panel"
    v-bind="$$projectProps( 'tool-panel' )"
>
    <template slot="header">
        <slot></slot>
    </template>

    <h1>Geomark</h1>

    <p><i>(This is a work in progress; functionality is yet to be added.)</i></p>

    <p>Create a Geomark by drawing an area on the map.</p>    
    
    <p>Geomarks can also be loaded by geomark URL.</p>
    
    <p>*Note: A valid geomark must include a portion of British Columbia.</p>

    <ul>
        <li><a href="#" v-on:click="$$emit( 'create-geomark' )">Save Drawing as Geomark</a></li>
        <li><a href="#" v-on:click="$$emit( 'load-geomark' )">Load an Existing Geomark</a></li>
        <li>Create a Geomark from File</li>
    </ul>

    <div v-if="geomarks.length != 0" id="geomarks-container">
        <h2>Loaded Geomarks</h2>
        <ul class="smk-no-list-style">
            <li class="smk-truncate-with-ellipsis" v-for="geomark in geomarks">
                <input type="checkbox" checked v-bind:id="geomark.id" v-on:click="$$emit( 'toggle-geomark', { id: geomark.id } )">
                <a v-bind:href="geomark.url">{{ geomark.id}}</a>
            </li>
        </ul>
    </div>
</tool-panel>
