<div class="smk-search-popup" v-if="feature">
    <div class="smk-address" v-if="feature.properties.fullAddress">
        <div v-bind:class="'smk-precision-' + feature.properties.matchPrecision.toLowerCase()">
            <div class="smk-intersection" v-if="feature.properties.intersectionName">
                <span class="smk-intersection-name">{{ feature.properties.intersectionName }}</span>
            </div>
            <div class="smk-street" v-if="feature.properties.streetName">
                <span class="smk-civic-number">{{ feature.properties.civicNumber }}</span>
                <span class="smk-street-name">{{ feature.properties.streetName }}</span>
                <span class="smk-street-qualifier">{{ feature.properties.streetQualifier }}</span>
                <span class="smk-street-type">{{ feature.properties.streetType }}</span>
            </div>
            <div class="smk-locality" v-if="feature.properties.localityName">
                <span class="smk-locality-name">{{ feature.properties.localityName }}</span>
                <span class="smk-locality-type" v-if="feature.properties.localityType != 'Unknown'">({{ feature.properties.localityType }})</span>
            </div>
        </div>
    </div>

    <div class="smk-coordinate" v-if="feature.geometry">
        <span class="smk-ordinate">
            <label>latitude<div>{{ feature.geometry.coordinates[ 1 ] | formatNumber( 6, 3 ) }}</div></label>
        </span>
        <span class="smk-ordinate">
            <label>longitude<div>{{ feature.geometry.coordinates[ 0 ] | formatNumber( 6, 3 ) }}</div></label>
        </span>
    </div>

    <div class="smk-commands">
        <span class="smk-command" v-if="tool.directions" v-on:click="directionsToFeature( feature )">Directions to here</span>
    </div>
</div>
