.smk-tool-search .smk-toolbar {
    min-width: var( --panel-width );
}

.smk-search-panel .smk-search-result {
    font-size: 12px;
    cursor: pointer;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.smk-search-panel .smk-search-result.smk-highlighted {
    font-weight: bold;
}

.smk-search-panel .smk-search-result .smk-highlight {
    opacity: 0.0;
    margin: -5px;
}

.smk-search-panel .smk-search-result:hover .smk-highlight {
    opacity: 0.3;


}

.smk-search-panel .smk-search-result.smk-highlighted .smk-highlight {
    opacity: 1.0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */

.smk-tool.smk-search-tool {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

/* .smk-tool.smk-search-tool.smk-tool-visible {
    display: flex;
} */

.smk-tool.smk-search-tool input {
    border: 0;
    align-self: stretch;
    padding-left: 4px;
    margin: 2px;
    border-radius: 2px;
    width: 100%;
    font-size: 16px;
}

.smk-tool.smk-search-tool input:focus {
    outline: 0;
}

.smk-tool.smk-search-tool .smk-clear-search {
    position: absolute;
    right: 28px;
    top: 2px;
    /* opacity: 0.2; */
}

.smk-sidepanel .smk-search-location-panel .smk-body .smk-address {
    font-weight: bold;
}

.smk-sidepanel .smk-search-location-panel .smk-body .smk-coordinate {
    margin-top: 5px;
}

.smk-tool.smk-search-tool .smk-search-dropdown {
    position: absolute;
    top: calc( var( --toolbar-height ) + 0px );
    left: 0;
    background-color: white;
    border-radius: 3px;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); */
}

.smk-tool.smk-search-tool .smk-search-dropdown .smk-item {
    border-radius: 0;
    /* border-bottom: 1px solid gray; */
    padding: 7px 5px;
}

.smk-tool.smk-search-tool .smk-search-dropdown .smk-item:last-child {
    border-bottom: none;
}

.smk-tool.smk-search-tool .smk-search-dropdown .smk-item .smk-intersection,
.smk-tool.smk-search-tool .smk-search-dropdown .smk-item .smk-street,
.smk-tool.smk-search-tool .smk-search-dropdown .smk-item .smk-locality {
    display: inline;
}

.smk-tool.smk-search-tool .smk-search-dropdown .smk-item .smk-precision-street .smk-street {
    font-weight: bold;
}

.smk-tool.smk-search-tool .smk-search-dropdown .smk-item .smk-precision-locality .smk-locality {
    font-weight: bold;
}

.smk-tool.smk-search-tool .smk-search-dropdown .smk-item .smk-precision-intersection .smk-intersection {
    font-weight: bold;
}
