<div class="smk-tool" ref="widget"
    v-bind:class="classes" 
>
    <input type="text" placeholder="Search for location" ref="search-input"
        v-model.trim="search"
        v-on:keyup="$$emit( 'input-change', { text: search } )"
        v-on:click="$$emit( 'activate', {} )"
        v-on:focus="focus()"
    >

    <div class="smk-clear-search"
        v-on:click="$$emit( 'clear' )"
        v-if="search || !isEmpty"
        title="Clear results"
    >
        <i class="material-icons">clear</i>
    </div>

    <div 
        v-on:click="$$emit( 'activate', { toggle: true } ); focus()"
        v-bind:title="title"
    >
        <i class="material-icons">{{ icon }}</i>
    </div>

    <div class="smk-search-dropdown"
        v-if="!showPanel && active"
        v-bind:style="{ width: widgetWidth() + 'px' }"
    >
        <div class="smk-search-result smk-item"
            v-if="!isEmpty()"
            v-for="result in results"
            v-on:mouseenter="$$emit( 'hover', { result: result } )"
            v-on:mouseleave="$$emit( 'hover', { result: null } )"
            v-on:click="$$emit( 'pick', { result: result } )"
            v-bind:class="{ 'smk-highlighted': result.id == highlightId }"
        >
            <div class="smk-address" v-if="result.properties.fullAddress">
                <div v-bind:class="'smk-precision-' + result.properties.matchPrecision.toLowerCase()">
                    <div class="smk-intersection" v-if="result.properties.intersectionName">
                        <span class="smk-intersection-name">{{ result.properties.intersectionName }}</span>
                    </div>
                    <div class="smk-street" v-if="result.properties.streetName">
                        <span class="smk-civic-number">{{ result.properties.civicNumber }}</span>
                        <span class="smk-street-name">{{ result.properties.streetName }}</span>
                        <span class="smk-street-qualifier">{{ result.properties.streetQualifier }}</span>
                        <span class="smk-street-type">{{ result.properties.streetType }}</span>
                    </div>
                    <div class="smk-locality" v-if="result.properties.localityName">
                        <span class="smk-locality-name">{{ result.properties.localityName }}</span>
                        <span class="smk-locality-type" v-if="result.properties.localityType != 'Unknown'">({{ result.properties.localityType }})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>