<side-panel class="smk-directions-panel" 
    v-bind:busy="busy"
    v-bind:message="busy ? 'Calculating' : message"
    v-bind:status="busy ? 'progress' : status"
>
    <template slot="header">
        <slot></slot>
    </template>

    <template slot="commands">
        <command-button class="smk-route"
            v-bind:disabled="busy || !hasRoute"
            v-on:click="$$emit( 'route' )"
        >Route</command-button>

        <command-button class="smk-reverse"
            v-bind:disabled="busy"
            v-on:click="$$emit( 'reverse' )"
        >Reverse</command-button>

        <command-button class="smk-reset"
            v-bind:disabled="busy"
            v-on:click="$$emit( 'reset' )"
        >Reset</command-button>

        <command-button class="smk-options"
            v-bind:disabled="busy"
            v-on:click="$$emit( 'options' )"
        >Options</command-button>

        <address-search class="smk-address"
            placeholder="Enter address here, or click on map"
            v-model="newAddress"
            v-on:update="$$emit( 'new-waypoint', $event )"
        ></address-search>
    </template>

    <draggable class="smk-waypoints"
        v-bind:list="waypoints"
        v-bind:options="{ handle: '.smk-handle', disabled: optimal }"
        v-on:end="$$emit( 'changed-waypoints' )"
    >
        <div class="smk-waypoint smk-item"
            v-for="( site, i ) in waypoints"
        >
            <command-button class="smk-handle"
                v-bind:disabled="optimal || busy"
                v-bind:title="optimal ? 'In optimal order' : 'Drag to reorder'"
                icon="drag_handle"
            ></command-button>

            <div class="smk-description">
                {{ site.fullAddress }}
                <span v-if="site.current">[CURRENT]</span>
            </div>

            <command-button class="smk-zoomto"
                v-bind:class="{
                    'smk-first':    i == 0,
                    'smk-middle':   i != 0 && i != waypoints.length - 1,
                    'smk-last':     i != 0 && i == waypoints.length - 1
                }"
                v-bind:disabled="busy"
                v-on:click="$$emit( 'zoom-waypoint', { waypoint: site, index: i } )"
                icon="location_on"
                title="Zoom to this waypoint"
            ></command-button>

            <command-button class="smk-remove"
                v-bind:disabled="waypoints.length < 2 || busy"
                v-on:click="waypoints.length > 1 && $$emit( 'remove-waypoint', { index: i } )"
                icon="delete"
                title="Remove this waypoint"
            ></command-button>
        </div>
    </draggable>

</side-panel>