.smk-directions-panel .smk-command-col {
    display: inline-block;
}

.smk-directions-panel .smk-command-col label {
    display: block;
    padding: 0;
}

.smk-sidepanel .smk-panel.smk-directions-panel .smk-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
    overflow-y: hidden;
}


.smk-directions-panel .smk-waypoint {
    display: flex;
    align-items: center;
}

.smk-directions-panel .smk-description {
    align-self: center;
    flex-basis: 100%;
    margin: 2px 0;
    background-color: transparent;
    margin-right: 5px;
    font: 400 11px system-ui;
}

.smk-directions-panel .smk-description input {
    height: calc( 100% - 2px );
    border-radius: 2px;
}

.smk-directions-panel .smk-waypoint .smk-command {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    color: black;
}

.smk-directions-panel .smk-waypoint .smk-command.smk-disabled {
    opacity: 0.4;
    cursor: default;
}

.smk-directions-panel .smk-waypoint .smk-zoomto.smk-first {
    color: green;
}

.smk-directions-panel .smk-waypoint .smk-zoomto.smk-middle {
    color: blue;
}

.smk-directions-panel .smk-waypoint .smk-zoomto.smk-last {
    color: red;
}

.smk-directions-panel .smk-waypoint .smk-address-search {
    margin-left: 22px;
    margin-right: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.smk-directions-panel div.smk-message {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
    min-height: 40px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smk-directions-panel .smk-message.smk-error {
    color: red;
    background-color: rgb(100%, 87.8%, 87.8%);
}

.smk-directions-panel .smk-message.smk-summary {
    background-color: rgb(87.8%, 100%, 88.6%);
}

.smk-directions-panel .smk-message.smk-progress {
    color: blue;
    background-color: rgb(87%, 96.5%, 99.1%);
}

.smk-directions-panel .smk-body .smk-directions {
    position: relative;
    /* flex: 1 0; */
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin-top: 5px;
}

.smk-directions-popup .smk-address {
    margin-bottom: 10px;
}

.smk-directions-popup .smk-commands {
    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top: 5px;
}

.smk-direction {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: stretch;
    align-content: stretch;
    border: 1px solid transparent;
}

.smk-direction .smk-instruction {
    vertical-align: top;
    font-size: 11px;
    font-weight: bold;
    font-size: 13px;
    flex-basis: 66%;
}

.smk-direction .smk-metric {
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
    font-size: 11px;
    flex: 1 0 33%;
    align-self: flex-end;
}

.smk-direction.smk-highlight {
    background-color: lightblue;
}

.smk-direction.smk-pick {
    border: 1px solid blue;
    border-radius: 3px;
}

pre.smk-popup {
    font-family: sans-serif;
}