.smk-directions-panel .smk-commands .smk-route .smk-command {
    font-size: 14px;
    font-weight: bold;
}

.smk-directions-panel .smk-commands .smk-options {
    flex-grow: 1;
    justify-content: flex-end;
}

.smk-directions-panel .smk-waypoint {
    display: flex;
    align-items: center;
    border-radius: 0;
    border-top: 1px solid #999;
}

.smk-directions-panel .smk-description {
    align-self: center;
    flex-basis: 100%;
    margin: 2px 0;
    background-color: transparent;
    margin-right: 5px;
    font-size: 11px;
}

.smk-directions-panel .smk-waypoint .smk-zoomto.smk-first .smk-command {
    color: green;
}

.smk-directions-panel .smk-waypoint .smk-zoomto.smk-middle .smk-command {
    color: blue;
}

.smk-directions-panel .smk-waypoint .smk-zoomto.smk-last .smk-command {
    color: red;
}

.smk-directions-panel .smk-options {
    width: 40px;
}

.smk-directions-panel .smk-address-search {
    margin: 4px;
    width: calc( 100% - 46px );
}

.smk-directions-panel .smk-route-stats {
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
    margin-bottom: 5px;
}