.smk-status .smk-coordinate {
    font-weight: bold;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
    text-align: right;
    background-color: transparent;
    cursor: default;

    margin-top: 5px;
}

.smk-status .smk-coordinate .smk-ordinate label {
    margin-left: 10px;
    margin-right: 0;
}

.smk-status .smk-coordinate .smk-ordinate div {
}

