<div
    v-bind:class="{ 'smk-busy': busy }"
>
    <div class="smk-message" 
        v-bind:class="'smk-' + ( status || 'summary' )" 
        v-if="message"
    >
        <span v-html="message"></span>
        <busy-spinner v-bind:size="16" v-bind:busy="busy"></busy-spinner>
    </div>            

    <div class="smk-header" 
        v-if="showHeader"
        v-on:touchstart="startSwipe"
        v-on:touchmove="moveSwipe"
    >
        <div class="smk-swipe-handle"></div>
        
        <slot name="header"></slot>

        <div class="smk-commands">
            <slot name="commands"></slot>
        </div>
    </div>

    <div class="smk-body">
        <slot></slot>
    </div>
</div>