<transition name="sidepanel-slide"
    v-on:before-enter="beforeShow"
    v-on:after-enter="afterShow"
    v-on:before-leave="beforeHide"
    v-on:after-leave="afterHide"
>
    <div class="smk-sidepanel" 
        v-show="visible"
        v-bind:class="[ currentTool && currentTool.panel.expand ? 'smk-expand-' + currentTool.panel.expand : '' ]"
    >
        <div class="smk-elastic-panel">
            <component class="smk-panel"
                v-if="currentPanel"
                v-bind:is="currentPanel.panelComponent"
                v-bind:key="currentPanel.id"
                v-bind="currentPanel.panel"
            >
                <i class="smk-panel-go-back smk-command smk-icon material-icons" title="Go Back"
                    v-on:click="previousPanel()"
                    v-show="hasPrevious()"
                >arrow_back</i>

                <component class="smk-panel-title"
                    v-if="currentTool.titleComponent"
                    v-bind:is="currentTool.titleComponent"
                    v-bind="currentTool.titleProps"
                ></component>
                <span class="smk-panel-title"
                    v-else
                    v-html="currentTool.panel.title"
                ></span>

                <i class="smk-panel-close smk-command smk-icon material-icons" title="Close Panel"
                    v-on:click="closePanel()"
                >close</i>
            </component>
        </div>
    </div>
</transition>
