.smk-map-frame .smk-viewer {
    cursor: default;
}

.smk-map-frame .smk-viewer.leaflet-drag-target {
    cursor: move;
}

/* .smk-map-frame.smk-panel-expanded .smk-viewer .leaflet-left {
    left: 310px;
} */

.smk-sidepanel {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: var( --panel-bottom );
    z-index: 10;
}

.smk-elastic-panel {
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    pointer-events: auto;
    max-height: 100%;
}

.smk-sidepanel.smk-expanded {
    display: block;
    width: 300px;
}

.smk-sidepanel .smk-title {
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-bottom: 1px;

    border-bottom: 1px solid gray;
}

.smk-sidepanel .smk-title .smk-command {
    align-self: flex-start;
}

.smk-sidepanel .smk-title div {
    font-size: 18px;
    font-weight: bold;
}

.smk-sidepanel .smk-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    min-height: 0;
}

.smk-sidepanel .smk-panel .smk-header {
    position: relative;
    border-bottom: 1px solid gray;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    flex-shrink: 0;
}

.smk-sidepanel .smk-panel .smk-body {
    position: relative;
    /* flex: 1 0; */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.smk-sidepanel .smk-panel h1 {
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-size: 30px;
}

.smk-sidepanel .smk-panel h2 {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 15px;
}

.smk-sidepanel .smk-panel .smk-spinner {
    position:   absolute;
    top:        4px;
    right:      10px;
}


.smk-sidepanel div.smk-message {
    position: relative;
    flex-shrink: 0;

    font-size: 14px;
    padding: 4px 0;
    text-align: center;
    background-color: rgb(87.8%, 100%, 88.6%);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smk-sidepanel .smk-message.smk-error {
    display: flex;
    color: red;
    background-color: rgb(100%, 87.8%, 87.8%);
}

.smk-sidepanel .smk-message.smk-summary {
    display: flex;
}

.smk-sidepanel .smk-message.smk-progress {
    display: flex;
    color: blue;
    background-color: rgb(87%, 96.5%, 99.1%);
}

.smk-sidepanel .smk-message.smk-warning {
    display: flex;
    color: orange;
    background-color: rgb(100%, 94.4%, 87.8%);
}

.smk-sidepanel .smk-submessage {
    font-size: 12px;
}

