<transition name="sidepanel-slide"
    v-on:before-enter="beforeShow"
    v-on:after-enter="afterShow"
    v-on:before-leave="beforeHide"
    v-on:after-leave="afterHide"
>
    <div class="smk-sidepanel" 
        v-show="visible"
        v-bind:class="[ 'smk-expand-' + expand ]"
    >
        <component class="smk-elastic-panel"
            v-for="panel in panels"
            v-if="panel.prop.active && panel.prop.showPanel !== false"
            v-bind:key="panel.prop.id"
            v-bind:is="panel.component"
            v-bind="panel.prop"
        >
            <i class="smk-panel-go-back smk-command smk-icon material-icons" title="Go Back"
                v-on:click="previousPanel( panel.prop.id )"
                v-bind:style="{ visibility: panel.prop.hasPrevious ? 'visible': 'hidden' }"
            >arrow_back</i>

            <component class="smk-panel-title"
                v-if="panel.titleComponent"
                v-bind:is="panel.titleComponent()"
            ></component>
            <span class="smk-panel-title"
                v-else
                v-html="panel.prop.title"
            ></span>

            <i class="smk-panel-close smk-command smk-icon material-icons" title="Close Panel"
                v-on:click="closePanel( panel.prop.id )"
            >close</i>
        </component>
    </div>
</transition>
